PORT=3000
SQLITE_PATH=./data/repositories.sqlite
MAX_COMMITS=0
GITHUB_CONCURRENCY=5
GITHUB_REQUEST_TIMEOUT_MS=120000
GITHUB_REQUEST_RETRIES=2
GITHUB_RETRY_BASE_DELAY_MS=1200
IMPORT_SCAN_LIMIT=220
IMPORT_CONCURRENCY=4
IMPORT_REQUEST_TIMEOUT_MS=8000
IMPORT_ANALYSIS_TIMEOUT_MS=45000
IMPORT_SOURCE_CHAR_LIMIT=300000
GITHUB_CONTENT_MAX_BYTES=350000
STACK_PROBE_LIMIT=30
STACK_PROBE_CONCURRENCY=4
STACK_PROBE_TIMEOUT_MS=9000
CACHE_TTL_MS=3600000
GITHUB_TOKEN=
CORS_ORIGIN=*
